<div class="row top">
  <div class="">
    <a href="/me/stored/products" class="bi bi-arrow-left" style="color: red;">Danh sách khóa học</a>
    <h3 style="margin-top: 10px;">Khóa học đã xóa</h3>
  </div>
  <table class="table ">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Name</th>
        <th scope="col">Mô tả</th>
        <th scope="col">Level</th>
        <th scope="col" colspan="2"></th>
      </tr>
    </thead>
    <tbody>

      {{#each products}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.level}}</td>
        <td>
            <a href="" class="btn btn-link btn-sm btn-restore" data-id="{{this._id}}">Khôi phục</a>
        </td>
        <td>
            <a href="" class="btn btn-link btn-sm" data-toggle="modal" data-target="#delete-product-modal" data-id="{{this._id}}">Xóa vĩnh viễn</a>
        </td>      
      </tr>
      {{else}}
      <tr>
        <td colspan="6" class="text-center">
          Không có khóa học nào.
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{!-- dialog delete --}}

<div class="modal" id="delete-product-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoá khóa học</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Chắc Không?.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btn-delete-product">Xoá</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- form hidden  --}}
<form name="delete-product-form" method="POST"></form>
<form name="restore-product-form" method="POST"></form>


<script>

  document.addEventListener('DOMContentLoaded', function() {
    var ProductId;
    var deleteForm = document.forms['delete-product-form'];
    var restoreForm = document.forms['restore-product-form'];
    var btnDeleteProduct = document.getElementById('btn-delete-product');
    var btnRestore = $('.btn-restore')

    $('#delete-product-modal').on('show.bs.modal', function (event) {
     var button = $(event.relatedTarget)
     var id = button.data('id')
     ProductId = id;  
  })

  btnDeleteProduct.onclick = function() {
    deleteForm.action = '/products/' + ProductId + '/force?_method=DELETE';
    deleteForm.submit();
  }

  btnRestore.click(function(event) {
    event.preventDefault();
    var productId = $(this).data('id');
    restoreForm.action = '/products/' + productId + '/restore?_method=PATCH';
    restoreForm.submit();
  })


})
</script>